/figwheel_server.log
/node_modules/*
/target/*
/resources/public/js/*
/resources/public/js/app/cljs/core.cljs
/resources/public/js/app/cljs/core.js
/resources/.DS_Store
/node_modules/cytoscape/.jscsrc
/resources/public/js/app/goog/events/eventtarget.js
/node_modules/cytoscape/.npmignore
/node_modules/cytoscape/.travis.yml
/.DS_Store
/.nrepl-port
/resources/public/.DS_Store
/src/undead/cards/demo.cljs
