.bblack {
    border: 2px solid black;
}

.gridtest {
    padding: 10px 10px 5px 5px;

    border: 1px solid #ddd;
    border-radius: 4px;
}
/* .nopad { */
/*     padding: 0; */

/* } */

/* button.btnn { */
/*     background: white; */
/*     border: 1px solid #ddd; */
/* } */

/* button.btnn:hover { */
/*     /\* background: #357ebd; *\/ */
/*     background: #ddd; */
/*     /\* color: white; *\/ */
/*     border: 1px solid #ddd; */
/* } */

table {
    
}


.gridtest table {
    color: #363636;
    text-align: center;
    background: white;
    font-size: 14px;
    width: 100%;
    margin: 0;
    border-collapse: seperate;
    /* max-width: 700px; */
}

.gridtest td, .gridtest th {
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    font-weight: normal;
    white-space: nowrap;
    min-width: 45px;
}

.gridtest td:hover, .gridtest th:hover {
    background: #eee;
    cursor: pointer;
}

.gridtest td.active, .gridtest td.active:hover {
    background-color: #357ebd;
    border-color: #3071a9;
    color: #fff;
}

/* expanded nestables */

.nest {
    background-color: #2f4f4f;
    color: #778899;
    font-size: 15px;


}




.cell2{
    height: 200px;
    background-color: red;
    border: 1px solid;
    width: 100px;
    transition-property: background-color;
    transition-duration:  3s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
}

.atom {
    background: url("http://us.123rf.com/450wm/asmati/asmati1606/asmati160604343/58986546-atom-sign-illustration-dark-gray-icon-on-transparent-background.jpg?ver=6");
    background-size: cover;
    height: 30px;
    width: 30px;
      }

.symbol {
    background: url("http://s3.amazonaws.com/static.graphemica.com/glyphs/i500s/000/005/822/original/269B-500x500.png?1275296121");
    background-size: cover;
    height: 30px;
    width: 30px;
    padding: -5px;
    margin: -7px;
}


.threeS {
    transition-property: width;
    transition-duration: 3s;

}

.oneS {
    transition-property: width;
    transition-duration: 1s;

}

.indent {
    margin-left: 25px;
}


.column2 {
    width: 500px;
}

.column1 {
    width: 10px;
    overflow: hidden;
}


.cell {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.center {
    align-items: center;
    justify-content: center;
}
.flex {
    display: flex;
}



.tall {
    height: 700px;
}

.column {
    width: 170px;
    float: left;
    padding-bottom: 100px;
}
.portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
}
.portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}
.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}
.portlet-content {
    padding: 0.4em;
}
.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}

.small {
    size: 5px;
}

#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }

#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }



li.placeholder {background: rgb(255,240,120);}
li.placeholder:before {
  content: "Drop here";
  color: rgb(225,210,90);
}


