#bso .nav {justify-content: space-between


    backface-visiblibility: hidden;
          }
#bso .nav__dropdown {
    height: 300px;
    color: grey;
    background-color: red;
    /* transition: height 1s; */
    transform: perspective(300px) rotateY(-180deg);
    opacity: 1;}
#bso .nav > li:hover > .nav__dropdown {
    transition:
    /* opacity 1s cubic-bezier(.17,.67,.83,.67), */
    /* height 2s ease-in, */
    transform 1s ease-in
    ;
    height: 300px;
    background-color: #039;
    transform: perspective(6000px) rotateY(0deg);
    opacity: 1;}
#bso .megadropdown {
    width: 300px;
    height: 100%;
  
    /* background-color: #039; */
}
#bso .menu {}

.box { max-width: 100px; max-height: 100px; }

.box img { width: 120px; height: 120px; }

.show { display: inline-block;}


#bso .layout-split textarea {height: 500px;
                     min-width: 50%;}

.layout-column {display: flex;
                flex-flow: column;}

.btn {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
             background-color: white;
             border: 1px solid  #999999;
             border-radius: 4px;
             margin: 2px;
             padding: 2px 6px 3px;
            }
.btn:hover {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                   background-color:   #949494;
                   color: #ffffff;
             border: 1px solid  #999999;
             border-radius: 4px;
             margin: 2px;
             padding: 2px 6px 3px;
                }

#bso .btn {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
             background-color: white;
             border: 1px solid  #999999;
             border-radius: 4px;
             margin: 2px;
             padding: 2px 6px 3px;
            }
#bso .btn:hover {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                   background-color:   #949494;
                   color: #ffffff;
             border: 1px solid  #999999;
             border-radius: 4px;
             margin: 2px;
             padding: 2px 6px 3px;
                }

.tree {
    /* background-color: grey; */
    /* color: white; */
    /* opacity: 0.9; */
}

.tree-node {
    display: flex;
}

#bso .circle {
    border-radius: 10px;
    height: 15px;
    width: 15px;
    background-color: white;
    border: 1px solid black;
    align-self: center;
    margin-left: 13px;
    margin-right: 13px;
}

#bso .btn-intersection {
    background-color: #2b2b2b;
    color: white;
    font-size: 80%;
    border-radius: 2px;

}
.tree-children {
    margin-left: 20px;
    border-left: 1px solid black;
    
        /* opacity: 50%; */
}
.tree-children-parents {
    margin-left: 40px;
    font-size: 50%;
    background-color: LightSlateGray;
        /* opacity: 50%; */
}

.node {
    border: 0.5px solid LightSlateGray;
    padding: 12px;
    position: relative;
    border-top: 0;
    border-right: 0;
}

.node-parents {
    font-size: 10px;
    top: -4px;
    right: -6px;
    color: white;
    cursor: pointer;
    background-color: Darkslategray;
    padding: 2px 3px 0px;
    border-radius: 2px;
    margin: 0px;
    position: absolute;
}

.node-children {
    font-size: 10px;
    top: -4px;
    right: -17px;
    color: white;
    cursor: pointer;
    background-color: black;
    padding: 2px 3px 0px;
    border-radius: 2px;
    margin: 0px;
    position: absolute;
}

.node-id {
    font-size: 10px;
    left: -9px;
    top: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    cursor: pointer;
    background-color: LightSlateGray;
    padding: 2px 3px 0px;
    border-radius: 2px;
    margin: 0px;
    position: absolute;
}

/* * {box-sizing: border-box;} */

dt {
    position: sticky;
    background: black;
    top: -1px;
    color: white;
}












.bblack {
    border: 2px solid black;
}



#bso .linkz {
    background-color: #039;
    color:#8b795e; 
}

#bso li a:hover {
    color: #039;
}


.gridtest {
    padding: 10px 10px 5px 5px;

    border: 1px solid #ddd;
    border-radius: 4px;
}
/* .nopad { */
/*     padding: 0; */

/* } */

/* button.btnn { */
/*     background: white; */
/*     border: 1px solid #ddd; */
/* } */

/* button.btnn:hover { */
/*     /\* background: #357ebd; *\/ */
/*     background: #ddd; */
/*     /\* color: white; *\/ */
/*     border: 1px solid #ddd; */
/* } */

table {
    
}


.gridtest table {
    color: #363636;
    text-align: center;
    background: white;
    font-size: 14px;
    width: 100%;
    margin: 0;
    border-collapse: seperate;
    /* max-width: 700px; */
}

.gridtest td, .gridtest th {
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    font-weight: normal;
    white-space: nowrap;
    min-width: 45px;
}

.gridtest td:hover, .gridtest th:hover {
    background: #eee;
    cursor: pointer;
}

.gridtest td.active, .gridtest td.active:hover {
    background-color: #357ebd;
    border-color: #3071a9;
    color: #fff;
}

.gridtest .underline {
    width: auto;
    font-size: 14px;
    color: #777;
    border-radius: 0;
    border: 1px solid #CCC;
    /* border-right-style: none; */
    border-radius: 4px;
    /* border-left-style: none; */
    background-color: #F7F7F7;
}


/* expanded nestables */

.nest {
    background-color: #2f4f4f;
    color: #778899;
    font-size: 15px;


}


.left-bar {
    background-color: #008b8b;
    border: none;
    width: 8px;
    padding: 0;
    margin-right: 15px;
    margin-bottom: 1px;
}


.dropzone {
    background-color: #00cdcd;
    height: 40px;

}


.cell2{
    height: 200px;
    background-color: red;
    border: 1px solid;
    width: 100px;
    transition-property: background-color;
    transition-duration:  3s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
}

.atom {
    background: url("http://us.123rf.com/450wm/asmati/asmati1606/asmati160604343/58986546-atom-sign-illustration-dark-gray-icon-on-transparent-background.jpg?ver=6");
    background-size: cover;
    height: 30px;
    width: 30px;
      }

.symbol {
    background: url("http://s3.amazonaws.com/static.graphemica.com/glyphs/i500s/000/005/822/original/269B-500x500.png?1275296121");
    background-size: cover;
    height: 30px;
    width: 30px;
    padding: -5px;
    margin: -7px;
}


.threeS {
    transition-property: width;
    transition-duration: 3s;

}

.oneS {
    transition-property: width;
    transition-duration: 1s;

}

.indent {
    margin-left: 25px;
}


.column2 {
    width: 500px;
}

.column1 {
    width: 10px;
    overflow: hidden;
}


.cell {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.center {
    align-items: center;
    justify-content: center;
}
.flex {
    display: flex;
}



.tall {
    height: 700px;
}

.column {
    width: 170px;
    float: left;
    padding-bottom: 100px;
}
.portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
}
.portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}
.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}
.portlet-content {
    padding: 0.4em;
}
.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}

.small {
    size: 5px;
}

#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }

#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }



li.placeholder {background: rgb(255,240,120);}
li.placeholder:before {
  content: "Drop here";
  color: rgb(225,210,90);
}



ul.todo-list {background-color: blue;
              list-style: none;}


.todo {color: white;
       padding: 20px;}

.todo-enter {opacity: 0.01;
             padding: auto 0px;
         }
.todo-enter.todo-enter-active {opacity: 1;
                               padding: auto 20px;
                               transition: all 700ms ease-in;}

.todo-leave {opacity: 1;}
.todo-leave.todo-leave-active {opacity: 0.01;
                               transition: opacity 300ms ease-in;}





.slider {width: 100%;
         height: 50px;
         padding: 10px 0px;
         border: 2px solid white;
         color: white;}

.slide-enter {
    transform: translate(100%);
    height: 0px;
}
.slide-enter.slide-enter-active {
  transform: translate(0%);
  height: 100px;
  transition: transform 1000ms ease-in-out,
  height 1000ms ease-in-out;

}
.slide-leave {
  transform: translate(0%);
}
.slide-leave.slide-leave-active {
    transform: translate(-110%);
    opacity: 0.01;
    transition: transform 1000ms ease-in-out,
    opacity 2000ms ease-out;
}


.highlight {
    background-color: #ccc;
}

.block {
    height: 30px;
    width: 30px;
    border: 1px solid black;
}


.multi-input {
    right: 0%;
    width: 100%;
    left: auto;
}







.tags {
  display:inline-block;
  background-color:white;
  border:1px solid black;
  font:normal normal normal 16px/18px Helmet,FreeSans,Sans-Serif;
  color:black;
  padding:4px 4px 0 0;
  cursor:text;
}

.tags-input {
  display:inline-block;
  width:10em;
  margin:0 0 4px;
  padding:4px 6px;
  background:none;
  border: 0;
  outline:0;
  font:inherit;
  color:inherit;
  text-align:left;
  text-shadow:none;
}

.tags-output {
  display:inline-block;
  margin-left:4px;
}

.tags-output span {
  display:inline-block;
  background-color:red;
  margin:0 4px 4px 0;
  padding:4px 6px;
  border-radius:2px;
  cursor:default;
}

.tags-output a {
  display:inline-block;
  text-decoration:none;
  color:white;
  cursor:pointer;
  margin-left:6px;
}


.indent {
    margin-left: 15px;
}

.left-bblack {
    border-left: 1px solid black;
    padding-left: 10px;
}


.poem {
    width: 400px;
    margin-left: 70px;
    background-color: #1c1c1c;
    color: grey;
    border: 1px solid grey; 
}